form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

fieldset {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
}

legend {
  
    font-weight: bold;
}

div {
    margin-bottom: 10px;
}


button {
    width: auto; 
}